/*reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: auto 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
h2 {
    font-family: 'Anton', sans-serif;
}
a {
  text-decoration: none;
  transition: .2s;
}
a:hover {
    color:#7F25D9;
}
/*breakpoits*/
@media(min-width:400px){
	.description {
      width: 80vw;
    }
}
@media(min-width:600px){
	.description {
      width: 80vw;
    }
}
@media(min-width:1200px){
	.description {
      width: 50vw;
    }
}
/*end breakpoits*/

/*menu*/
.menu{
	background: #ffffff;
	box-shadow: 0px 0px 8px #1e0f24;
	position: fixed;
	width: 100vw;
	top: 0;
	text-transform: uppercase;
	z-index: 1;
}
.menu ul{
	display: flex;
	justify-content: space-around;
}
.menu li{
	list-style: none;
}
.menu a{
	font-family: 'DM Mono', monospace;
	font-size: 18px;
	color: #141414;
	display: block;
	padding: 10px 40px;
	border-bottom: 3px solid;
}
.menu a:active,
.menu a:hover{
	color: #7F25D9;
	font-weight: lighter;
	border-bottom: 3px solid #7F25D9;
}
/*end menu*/

/*header*/
header{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.background-header{
  background-color:#00ff99;
}
.site-subtitle,
.site-title{
	text-align: center;
	color: #141414;
	font-size: 1.5em;
	font-family: 'DM Mono', monospace;
	line-height: 1.5em;
}
.site-subtitle{
	font-size:1.2em;
    margin-bottom: 1em;
}
.perfil-pic{
	border: 3px solid #7F25D9;
    border-radius: 50%; 
    display: block;
    margin: 0 auto;
    height: 145px;
    opacity: 0;
    transform: scale(0.2) translatey(10vh);
    width: 145px;

    animation: alternate  1s anima_pic forwards;
}
@keyframes anima_pic{
      100%{
        opacity: 1;
        transform: scale(1) translatey(0);
      }
}
.description {
    padding:  0 1.5em 1.5em 0;
    text-align: center;
    width: 80vw;
}
.social-media{
	padding-top: 1em;
    text-align: center;
}
.ul-icons {
	list-style-type: none;
}

.ul-icons li {
	display: inline-block;
	font-size:2em;
}
.ul-icons li a {
	color: #141414;
	font-size: 2em;
	padding: 0.1em;
	transition: text-shadow 1ms;
}
.ul-icons li a:hover,
.ul-icons li a:active{
	text-decoration: none;
	color: #7F25D9;
	text-shadow: 3px 3px 10px #ffffff;
}

.hidden {
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
  }

/*end header*/

/*main*/

.main-background {
	background-image: url('../img/s.png');
	background-repeat: no-repeat;
}
.section-about{
	display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-bottom: 32px;
    padding-top: 32px;
}
@media (min-width: 982px) {
    .section-about {
      grid-template-columns: 785px;
    }
}
.section-about-box {
    border: 1px solid #141414;
    border-bottom: 8px solid #141414;
    background-color: #fff;
    padding:2em;
}
.section-about-box p {
    line-height: 1.5;
    margin-bottom: 1.4em;
}
.section-projects {
    padding: 2em;
}
.section-about h2,
.section-projects h2{
	font-size: 2em;
	margin-bottom: 1em;
}
.section-projects .grid {
    display: grid;
    gap: 2em;
}
@media (min-width: 560px) {
  .section-projects .grid {
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
}

@media (min-width: 870px) {
  .section-projects .grid {
    align-content: center;
	grid-template-columns: repeat(3,240px);
	justify-content: center;
	height: calc(100vh -8em -48px);
  }
}
.section-projects figure {
    text-align: center;
}
.section-projects figcaption {
    font-size: 14px;
    font-weight: 500;
}
@media(min-width:1200px){
	.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	}
}


.main-section-card {
	border: 1px solid #141414;
	box-shadow: 20px 20px 0px 5px #7F25D9;
	height: 180px;
	width: 200px;
	object-fit: cover;
	object-position: center;
	transition: transform 500ms, box-shadow 500ms;
}

.main-section-card:hover {
transform: scale(1.2);
box-shadow: 5px 5px 0px 3px #7F25D9;
}


.main-footer {
background-color: #00ff99;
height: auto;
padding-bottom: 1em;
}

.main-footer .footer-copy {
font-size: 12px;
text-align:center;
}

.main-footer-contact {
display: flex;
font-size: .875em;
justify-content: center;
padding: 2em;
}

.main-footer-contact img {
width: 60px;
}

.main-footer-contact address {
display: inline;
}