/*reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: auto 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
h2 {
    font-family: 'Anton', sans-serif;
}
a {
  text-decoration: none;
  transition: .2s;
}
a:hover, a:focus {
    color:#00472B;
}
/*breakpoits*/
@media(min-width:400px){
	.description {
      width: 80vw;
    }
}
@media(min-width:600px){
	.description {
      width: 80vw;
    }
}
@media(min-width:1200px){
	.description {
      width: 50vw;
    }
}
/*end breakpoits*/

/*menu*/
.menu{
	background: #ffffff;
	box-shadow: 0px 0px 8px #1e0f24;
	position: fixed;
	width: 100vw;
	top: 0;
	text-transform: uppercase;
	z-index: 1;
}
.menu ul{
	display: flex;
	justify-content: space-around;
}
.menu li{
	list-style: none;
}
.menu a{
	font-family: 'DM Mono', monospace;
	font-size: 18px;
	color: #141414;
	display: block;
	padding: 10px 20px;
	border-bottom: 3px solid;
}
.menu a:active,
.menu a:focus,
.menu a:hover{
	color: #00472B;
	background: #D2D2D2;
	font-weight: lighter;
	border-bottom: 3px solid #00472B;
}
.but-top a{
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5em;
	margin: 0.5em;
	color: #00ff99;
	background-color:#141414;
	opacity: 70%;
	transition: 1s;
}
.but-top a:hover,
.but-top a:focus {
  opacity: 100%;
}
/*end menu*/

/*header*/
header{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
@media (min-width: 682px) {
    header{
      height: 80vh;
    }
}
.background-header{
  background:#00ff99;
}
.site-subtitle,
.site-title{
	text-align: center;
	color: #141414;
	font-size: 1.5em;
	font-family: 'DM Mono', monospace;
	line-height: 1.5em;
}
.site-subtitle{
	font-size:1.2em;
    margin-bottom: 1em;
}
.perfil-pic{
	/*border: 3px solid #00472B;*/
    border-radius: 50%; 
    display: block;
    margin: 0 auto;
    height: 145px;
    opacity: 0;
    transform: scale(0.2) translatey(10vh);
    width: 145px;

    animation: alternate  1s anima_pic forwards;
}
@keyframes anima_pic{
      100%{
        opacity: 1;
        transform: scale(1) translatey(0);
      }
}
.description {
	padding: 1.5em 0;
    text-align: center;
    width: 80vw;
}
@media (min-width: 982px) {
    .description {
      width: 40vw;
    }
}
.social-media{
    text-align: center;
}
.ul-icons {
	list-style-type: none;
}

.ul-icons li {
	display: inline-block;
	font-size:2em;
}
.ul-icons li a {
	color: #141414;
	font-size: 2em;
	padding: 0.1em;
	transition: text-shadow 1ms color 1ms;
}
.ul-icons li a:hover,
.ul-icons li a:focus,
.ul-icons li a:active{
	text-decoration: none;
	color: #00472B;
	text-shadow: 3px 3px 10px #ffffff;
}

.hidden {
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
  }

/*end header*/

/*main*/

.wave {
	display: inline-block;
	position: relative;
	width: 100vw;
	padding: 0;
}
svg{
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
}
.section-about{
	display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    margin-bottom: 32px;
    padding-top: 32px;
}

@media (min-width: 982px) {
    .section-about {
      grid-template-columns: 60vw;
    }
}
.section-about-box {
    border: 1px solid #141414;
    border-bottom: 8px solid #141414;
    background-color: #fff;
    padding:2em;
}
.section-about-box p {
    line-height: 1.5;
    margin-bottom: 1.4em;
}
.section-about-box a{
	background: #00ff99;
	color: #141414;
	padding: 0 4px;
}
.section-about-box a:focus,
.section-about-box a:hover{
	background:#141414;
	color: #00ff99;
}
.section-projects {
    padding: 2em;
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    color: #141414;
}
@media (min-width: 982px) {
    .section-projects {
      grid-template-columns: 60vw;
    }
}
.section-about h2,
.section-projects h2{
	font-size: 2em;
	margin-bottom: 1em;
}
.section-projects .grid {
    display: grid;
    gap: 2em;
}
@media (min-width: 560px) {
  .section-projects .grid {
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
}

@media (min-width: 870px) {
  .section-projects .grid {
    align-content: center;
	grid-template-columns: repeat(3,240px);
	justify-content: center;
	height: calc(100vh -8em -48px);
  }
}
.section-projects figure {
    text-align: center;
}
.section-projects figcaption {
    font-size: 14px;
    font-weight: bolder;
    padding-top: .8em;
}
@media(min-width:1200px){
	.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	}
}


.section-projects img {
	border: 1px solid #141414;
	box-shadow: 5px 5px 1px 1px #00ff99;
	height: 180px;
	width: 200px;
	object-fit: cover;
	object-position: center;
	transition: transform 500ms, box-shadow 500ms;
}

.section-projects img:hover {
	transform: translateY(-5px);
	box-shadow: 5px 5px 1px 1px #000000;
}


.main-footer {
background-color: #00ff99;
height: auto;
padding-bottom: 1em;
}

.main-footer .footer-copy {
font-size: 14px;
text-align:center;
}
