*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #1e0f24;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
/*breakpoits*/
@media(min-width:400px){
	body{
		font-size: 14px;
	}
}
@media(min-width:600px){
	body{
		font-size: 18px;
	}
}
@media(min-width:1200px){
	body{
		font-size: 20px;
	}
}
/*end breakpoits*/
header{
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.menu{
	background: #ffffffee;
	box-shadow: 0px 0px 10px #1e0f24;
	position: fixed;
	padding: 10px 0px;
	width: 100vw;
	top: 0;
	text-transform: uppercase;
	z-index: 1;
}
.menu ul{
	display: flex;
	justify-content: space-around;
}
.menu li{
	list-style: none;
}
.menu a{
	color: #9400d3;
	display: block;
	padding: 10px 40px;
	transition: color 500ms, transform 500ms, font-weight 500ms;
}
.menu a:active,
.menu a:hover{
	color: rgba(148,0,211, 1);
	font-weight: bold;
	transform: scale(1.1);
}
a{
	color: #ffffff;
	text-decoration: none;
}
.site-subtitle,
.site-title{
	text-align: center;
	color: #ffffff;
}
.site-title{
	font-size: 4em;
	font-family: 'Aladin', cursive;
}
.site-subtitle{
	font-family: 'Open Sans', sans-serif;
}
.portfolio h2, .contato h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	margin-bottom: 1.5em;
}
.contato,
.portfolio{
	padding: 2em;
	min-height: 85vh;
}
.portfolio .grid{
	display: grid;
	gap: 2em;
}
@media( min-width: 560px ){
	.portfolio .grid{
		grid-template-columns: 240px 240px;
	}
}
@media( min-width: 870px ){
	.portfolio .grid{
		align-content: center;
		grid-template-columns: repeat(3,240px);
		justify-content: center;
		height: calc(100vh -8em -48px);
	}
}
.portfolio figure{
	text-align: center;
}
.img-portfolio{
	height: 180px;
	width: 240px;
	object-fit: cover;
	object-position: right;
	border-radius: 100px 50px 100px 50px;
	transition: transform 500ms;
}
.img-portfolio:active,
.img-portfolio:hover{
	transform: scale(1.05);
}
@media( min-width: 1200px ){
	.img-portfolio{
		height: auto;
		width: 100%;
	}
}
.contato .icons{
	text-align: center;
}
.contato a{
	color: #ffffff;
	font-size: 4em;
	padding: 0.1em;
	transition: text-shadow 1ms;
}
.contato a:active,
.contato a:hover{
	text-decoration: none;
	text-shadow: 0px 0px 20px rgba(148,0,211, 1);
}